body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content:center;
    overflow: hidden;
}

#backgroundImage {
    height: 100vh;
    background: url("pic/forest.jpg");
    background-size: cover;
    position: fixed;
    left: -10px;
    right: -10px;
    z-index: 1;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.digitalClock{
    position: relative;
    z-index: 9999;
    display: flex;
    bottom: 90px;
    
}

.clock{
    display: flex;
    position: absolute;
    z-index: 9999;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    margin:auto;
    background-color: slategray;
    opacity: 80%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkgreen;
    opacity: 0.8;
}

.clock #ampm{
    bottom: 5px;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: green;
    opacity: 0.8;
}

footer{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 9999;
    height: 30px;
    width: 100%;
    background-color: rgba(0,0,0,.85);
    color: white;
    bottom: 0;
    text-align: center;
    align-items: center;
    letter-spacing: 4px;
    font-size: 14px;
}

